:root{
    --white: #FFFFFF;
    --black: #0000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --rojo: #e5252e;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    margin: 0;
    font-family: 'Quicksand',sans-serif;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.for-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 300px;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;

}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    max-width: 280px;
    margin: 0 auto 32px;
}
.form{
    display: flex;
    flex-direction: column;

}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.primary-button{
    background-color: var(--rojo);
    border-radius: 8px;
    border: none;
    color:var(--white);
    width:100%;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width:648px) {
  .logo{
    display:block;
 }
 
}
.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.email-image img {
    width: 90px;
}

.resend {
    text-align: center;
    font-size: 14px;
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
    font-weight: 500;
    color: tomato;
}
.second-password {
    color: var(--hospital-green);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-top: 24px;
    color: tomato;
}

.secondary-button {
    background-color: white;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-top: 24px;
    border: 1px solid #EA2A2A;
    color: tomato;
    cursor: pointer;
}
.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
@media (min-width: 640px) {
    .form-signup {
        height: auto;
    }
}

.value {
    background-color: var(--text-input-field);
    border-radius: 4px;
    height: 30px;
    padding: 10px 16px;  
    margin-bottom: 24px;
    align-items: center;
    font-size: 14px;
    width: 85%;
}