<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Taller</title>

  <!-- Fuente -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="../style.css">
</head>

<body>

<section class="main-container">
  <div class="cards-container">
    <!-- Producto 1 -->
    <div class="product-card">
      <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
      <!-- Producto 2 -->
        <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
      <!-- Producto 3 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

      <!-- Producto 4 -->
        <div class="product-card">
        <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
        <div class="product-info">
         <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 5 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 6 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 7 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 8 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 9 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 10 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 11 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 12 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 13 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 14 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

  <!-- Producto 15 -->
      <div class="product-card">
      <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg" alt="Producto">
      <div class="product-info">
        <div>
          <p>$120.000</p>
          <p>Zapatos deportivos</p>
        </div>
        <figure>
          <img src="../icons/bt_add_to_cart.svg" alt="add">
        </figure>
      </div>
    </div>
  </div>

</section>

</body>
</html>